<%= form_with(model: minimage) do |form| %>
  <% if minimage.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(minimage.errors.count, "error") %> prohibited this minimage from being saved:</h2>

      <ul>
        <% minimage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
