<%= title :Minimages, [
    { label: "New minimage", href: new_minimage_path }
] %>

<p style="color: green"><%= notice %></p>

<div id="minimages">
  <% @minimages.each do |minimage| %>
    <%= render minimage %>
    <p>
      <%= link_to "Show this minimage", minimage %>
    </p>
  <% end %>
  <%# <sl-button size="small">Click me</sl-button> %>
  <%#= app_link_to "New minimage", new_minimage_path %>
</div>
